<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273293249159-8neajcn8qj0497b701n2smm4rbq1r3fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273293249159-8neajcn8qj0497b701n2smm4rbq1r3fo</string>
	<key>API_KEY</key>
	<string>AIzaSyC_pxbR86qe8TxJVkTbwv7wRjlUVbDeoOI</string>
	<key>GCM_SENDER_ID</key>
	<string>273293249159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jisu.project.twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-68cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-68cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273293249159:ios:d968e2d9e185548c4a8622</string>
</dict>
</plist>